In [4]:
import pandas as pd
import numpy as np
gpus = tfconfig.list_physical_devices('GPU')

if gpus:
    try:
        for gpu in gpus:
            tfconfig.set_logical_device_configuration(gpu, [tfconfig.LogicalDeviceConfiguration(memory_limit=4096)])
    except RuntimeError as e:
        
        print(e)

In [5]:
num_words = 10000
max_text_len = 300

In [6]:
train = pd.read_csv('train.csv', sep='\t')
test = pd.read_csv('test.csv', sep='\t')

In [7]:
texts = train['Text']
y_train = (train['Score'].astype('category')).cat.codes

In [13]:
tests = test['Text']

188/188 [==============================] - 5s 23ms/step

In [15]:
ans = np.rint(y_test)
ans = ans.astype(int)
ans = pd.DataFrame(ans)[0]
ans = ans.astype('category')
ans = ans.cat.rename_categories(['Negative', 'Positive'])

In [16]:
df = pd.concat([test['idx'], ans], axis=1)

In [17]:
df = df.rename(columns={0:'Score'})

In [18]:
df

        idx     Score
0     13999  Negative
1     14000  Negative
2     14001  Negative
3     14002  Negative
4     14003  Negative
...     ...       ...
5995  19994  Positive
5996  19995  Positive
5997  19996  Negative
5998  19997  Positive
5999  19998  Negative

[6000 rows x 2 columns]

In [19]:
df.to_csv('ans.csv', sep = '\t')